<!DOCTYPE html>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="./search"><i class="bi-house"></i></a>
        <a class="navbar-brand" href="./search">IMDB Analysis</a>
    </div>
</nav>